.footer{
    background-color: $dark-green;


    .container{
        padding: 0;
    }

    &__wrapper{
        padding: 50px 20px;
    }

    &__menu{
        list-style: none;
        margin: 40px 0;
        padding: 0;
    }

    &__menu-item{
        margin-bottom: 20px;
    }
    &__menu-link{
        text-decoration: none;
        font-size: 24px;
    }

    &__phone, &__email{
        @include text(24px, 700, 150%);
        margin: 0;
        text-decoration: none;
        display: block;
    }

    &__phone{
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 480px){
    .footer{
        &__menu, &__data{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__menu{
            margin-bottom: 15px;
        }
        &__phone{
            margin: 0;
        }
    }
}

@media screen and (min-width: 768px){
    .footer{
        margin-top: 120px;
        background-color: transparent;
        
        &__wrapper{
            border-top: 3px solid red;
            border-bottom: 0;
            border-left-width: 0;
            border-right-width: 0;
            border-image: linear-gradient(to right,#020E0C, #BEFFF6) 1 stretch;
            backdrop-filter: blur(20px);
            display: flex;
            justify-content: space-between;
            padding: 60px 20px;
        }
        &__menu{
            margin: 30px 0 0;

            &-item{
                position: relative;
                z-index: 10;
            }

            &-item + &-item{
                margin-left: 30px;
            }
        }

        &__data{
            display: block;
            position: relative;
            z-index: 10;
        }
        &__email{
            margin-top: 35px;
        }
        &__menu-item{
            margin: 0;
        }
    }

    .page__features{
        .footer{
            margin-top: 0;
        }
    }
}

@media screen and (min-width: 1000px){
    .footer{
        &__content{
            display: flex;
            align-items: center;
        }
        &__menu{
            margin: 0;
        }
    }

    .page__features{
        .footer{
            margin-top: 120px;
        }
    }
}

@media screen and (min-width: 1290px){
    .footer{

        .container{
            padding: 0 20px;
        }
        &__wrapper{
            @include border(90deg, 40%, 0);
            border-radius:0 10px 0 0;
            padding: 60px 60px;
            &::before{
                background:linear-gradient(188deg,#BEFFF6, transparent 50%) !important;
                border-radius: 10px 10px 0 0; 
            }
        }
        &__data{
            display: flex;
            align-items: center;
        }

        &__email{
            margin: 0 0 0 30px;
        }
    }
}

