.header{
    background-image: url("../../image/header-bg.png");
    background-repeat: no-repeat;
    background-position: 0 0;

    .container{
        padding: 0;
    }

    &__content{
        border: 3px solid;
        border-image: linear-gradient(90deg,#BEFFF6,#020E0C) 1;
        padding: 0 20px;
        margin: 80px 0 60px 0;
        backdrop-filter: blur(20px);
    }

    &__title{
        @include text(37px, 600, 150%);
    }
    &__choose{
        width: 100%;
        position: relative;
        z-index: 5;
    }
    &__version-link{
        color: $green;
        position: relative;
        z-index: 5;
    }
    &__img{
        width: 100%;
        height: auto;
    }

    &__input{
        width: 100%;
        padding: 30px;
        background-color: #0E2E29;
        border: none;
        outline: none;
        border-radius: 10px 10px 0 0;

        &::placeholder{
            font-size: 18px;
            color: #657976;
        }
    }

    &__search{
        width: 100%;
        border-radius:  0 0 10px 10px !important;
    }

    &__form{
        margin-bottom: 22px;
        margin-top: 60px;
        position: relative;
        z-index: 5;
    }
}

@media screen and (min-width: 480px){
    .header{

        .container{
            padding: 0 20px;
        }

        &__content{
           @include border(130deg, 10%, 100%);
        }

        &__form{
            display: flex;
        }

        &__input{
            border-radius: 10px 0 0 10px;
        }
        &__search{
            border-radius: 0 10px 10px 0 !important;
            width: 35%;
        }
    }
}

@media screen and (min-width: 768px){
    .header{
        &__content{
            @include border(130deg, 0%, 40%); 
        }
        &__title{
            font-size: 72px;
        }

        &__choose{
            margin: 60px 0;
        }
    }
}

@media screen and (min-width: 1000px){
    .header{
        overflow: hidden;     
        &__wrapper{
            position: relative;
        }

        &__content{
            width: 70%;
            padding: 60px;
        }
        &__img{
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(35%, -55%);
            width: 54%;  
        }
    }
}

@media screen and (min-width: 1290px){
    .header{
        &__content{
            width: 60%;
        }
    }
}